body{
    font-family: sans-serif;
  }
  .wrapper{
    width: 75%;
    margin: 0 auto;
  }
  .nav{
    display: flex;
    align-items: center;
  }
  .logo-header h2{
    font-family: 'Josefin Sans', sans-serif !important;
  }
  .logo img{
      width: 60px;
      display: block;
      vertical-align: middle;
      padding: 5px;
  }
  .col-1-home{
      display: flex;
  }
  .col-1-home h2{
    padding: 0px;
    margin: 0px;
    line-height: 100%;
    color: #1D318F;
  }
  .col-2-home{
    flex: 1;
  }
  .col-2-home ul{
    color: #1D318F;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  .col-2-home ul li{
    display: inline;
    padding: 25px 30px;
  }
  .col-2-home ul li:hover{
      cursor: pointer;
      background-color: #efefef;
  }
  .hero-img{
    position: relative;
    text-align: center;
    color: white;
  }
  .hero-img img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position:30% 50%;
  }
  .hero-img .hero-text{
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    font-size: 1.25em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .gold-text{
    color: #d6a022;
  }
  .hero-button{
    text-transform: uppercase;
    background-color: #d6a022;
    color: white;
    padding: 10px 30px;
    border: 3px solid #fff;
    font-family: 'Josefin Sans', sans-serif;
  }
  .hero-button:hover{
    cursor: pointer;
    background-color: #f0c256;
  }
  .active{
      font-weight: 600;
  }
  .black-bar{
    font-family: 'Josefin Sans', sans-serif !important;
      background-color: #2E3C75;
      color: white;
      display: flex;
      justify-content: end;
      flex-direction: row;
      height: 15px;
  }
  .black-bar p{
    justify-content: end;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 3px;
    
  }
  .history-section{
      align-items: center;
      display: flex;
  }
  .col-1-history{
      padding: 0px 50px;
  }
  .col-2-history{
      padding: 0px 50px;
  }
  .col-2-history h2{
      font-family: 'Josefin Sans', sans-serif;
      color: #1D318F;
      font-weight: bold;
      text-transform: uppercase;
  }
  .col-2-history p{
      padding-bottom: 15px;
      font-family: 'Josefin Sans', sans-serif;
  }
  .learn-more-btn{
      text-transform: uppercase;
      background-color: #1D318F;
      border: 0px solid #000;
      padding: 20px 40px;
      color: white;
      font-family: 'Josefin Sans', sans-serif;
  }
  .learn-more-btn:hover{
      cursor: pointer;
      background-color: #f0c256;
  }
  .fade_rule {
    height: 1px;
    background-color: #E6E6E6;
    margin: 3% auto;
    background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white) );
}
.footer{
    background: rgb(1,23,124);
    background: linear-gradient(0deg, rgba(1,23,124,1) 0%, rgba(29,49,143,1) 100%);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.footer-flex{
    display: flex;
    align-items: center;
}
.col-1-footer{
    padding: 50px;
    flex: 4;
}
.col-2-footer{
    padding: 50px;
    flex: 4;
}
.col-1-footer ul{
    font-size: 1.5em;
    list-style-type: none;
}
.footer-copy{
    background-color: #000;
    color: white;
    display: flex;
    text-align: center;
}
.footer-copy p{
    justify-content: end;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 3px;
    text-align: center;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif !important;
}
.col-1-footer ul li{
    padding: 5px;
}
.no-input-form{
    background-color: #1D318F;
    color: white;
    border: none;
    padding: 0px;
}
.no-input-form:hover{
    cursor: pointer;
}